.btn{
    background-color: blueviolet;
    padding: 30px;
    border-radius: 4px;
    border: none;
    margin: 3px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
}
.btn:hover{
    opacity: 1;
}